.goldback {
  background-color: gold;
  padding-top: 220px;
  padding-bottom: 440px;
}

.goldback h2 {
  display: flex;
  flex: wrap;
  justify-content: center;
  font-weight: bold;
  font-size: 62px;
}

.goldback img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px;
}

.topeye {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
