.Top img {
  height: 60px;
  width: 100px;
  border-bottom: grey 4px solid;
  padding-bottom: 8px;
  margin-left: 20px;
}

.Top {
  margin-right: auto;
  margin-left: 0;
  display: flex;
}

.Top h2 {
  margin-left: 50px;
}

.top-title {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
  margin-left: 10px;
  width: 1250px;
  font-style: italic;
  font-weight: bold;
  border-bottom: black 4px solid;
}

.goalsflex {
  display: flex;
}

.goals-content {
  width: 50%;
  h2 {
    font-size: 36px;
    margin-bottom: 20px;
    border-bottom: grey 1px solid;
    margin-bottom: 20px;
  }
  p {
    font-size: 20px;
    margin-bottom: 0px;
    color: rgb(200, 100, 0);
    display: block;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 55px;
  }

}

.imageright img {
  margin-right: 2px;
  margin-left: auto;
}
